In [1]:
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv('final_converted_train_df.csv')
train_df

,id,text,entities,fold
0,E1FA876D6E6C,"Dear Senator,\n\nI am writting this letter to ...","['O', 'O', 'B-Lead', 'I-Lead', 'I-Lead', 'I-Le...",0
1,8AC1D6E165CD,"Dear Principal, I believe in policy 2. Kids ar...","['O', 'O', 'B-Position', 'I-Position', 'I-Posi...",4
2,45EF6A4EDB1A,"Summer projects are no fun, but they are a gre...","['B-Lead', 'I-Lead', 'I-Lead', 'I-Lead', 'I-Le...",3
3,B0070361406D,"The author who wrote ""The challenge of Explori...","['B-Lead', 'I-Lead', 'I-Lead', 'I-Lead', 'I-Le...",0
4,839F4F7F7DD7,Our school systems have seen many changes as t...,"['B-Lead', 'I-Lead', 'I-Lead', 'I-Lead', 'I-Le...",4
...,...,...,...,...
15589,DB0E754610DB,In my opinion I think that the author did a gr...,"['B-Position', 'I-Position', 'I-Position', 'I-...",2
15590,709156BCF733,Dear Principal:\n\nI think students must have ...,"['O', 'O', 'B-Position', 'I-Position', 'I-Posi...",2
15591,A0F328ADB40C,I believe that students should not be allowed ...,"['B-Position', 'I-Position', 'I-Position', 'I-...",4
15592,688370E9E6F1,i think that technology is valuable because yo...,"['B-Lead', 'I-Lead', 'I-Lead', 'I-Lead', 'I-Le...",0
15593,796911DBD5C2,Do you ever get tired of having to wake up so ...,"['B-Lead', 'I-Lead', 'I-Lead', 'I-Lead', 'I-Le...",2

In [3]:
val_ids_list = []
test_list = [1,2,3,4]

In [5]:
for i in range(2):
    val_ids_list += test_list

In [6]:
val_ids_list

[1, 2, 3, 4, 1, 2, 3, 4]

In [7]:
train_df.loc[train_df['id']=='E1FA876D6E6C']

,id,text,entities,fold
0,E1FA876D6E6C,"Dear Senator,\n\nI am writting this letter to ...","['O', 'O', 'B-Lead', 'I-Lead', 'I-Lead', 'I-Le...",0

In [9]:
type(np.array([1,2,3,4,5,6]).mean())

numpy.float64